@import 'Checkbox';


@mixin LabelledCheckbox(
    $size: $default-checkbox-size,
    $thickness: $default-checkbox-thickness,
    $color: $default-checkbox-color,
    $border-thickness: $default-checkbox-border-thickness,
    $type: $default-checkbox-type) {
  input[type=checkbox] {
    @include Checkbox(
      $size: $size, $thickness: $thickness, $color: $color,
      $border-thickness: $border-thickness, $type: $type);
  }

  &:hover {
    cursor: pointer;
    input[type=checkbox] + * {
      @include CheckboxHover(
        $size: $size, $thickness: $thickness, $color: $color,
        $border-thickness: $border-thickness, $type: $type);
    }
    input[type=checkbox]:checked {
      @include Checkbox(
        $size: $size, $thickness: $thickness, $color: $color,
        $border-thickness: $border-thickness, $type: $type);
    }
  }
}
