@import 'Radio';


@mixin LabelledRadio(
    $size: $default-radio-size,
    $thickness: $default-radio-thickness,
    $color: $default-radio-color,
    $border-thickness: $default-radio-border-thickness,
    $type: $default-radio-type) {
  input[type=radio] {
    @include Radio(
      $size: $size, $thickness: $thickness, $color: $color,
      $border-thickness: $border-thickness, $type: $type);
  }

  &:hover {
    cursor: pointer;
    input[type=radio] + * {
      @include RadioHover(
        $size: $size, $thickness: $thickness, $color: $color,
        $border-thickness: $border-thickness, $type: $type);
    }
    input[type=radio]:checked {
      @include Radio(
        $size: $size, $thickness: $thickness, $color: $color,
        $border-thickness: $border-thickness, $type: $type);
    }
  }
}
