// Mixin for a label with a custom styled checkbox

@import 'checkbox';

@mixin labeled_checkbox(
    $size: $default-size, $thickness: $default-thickness,
    $color: $default-color, $border-thickness: $default-border-thickness,
    $type: 'outline') {
  input[type=checkbox] {
    @include checkbox(
      $size: $size, $thickness: $thickness, $color: $color,
      $border-thickness: $border-thickness, $type: $type);
  }

  &:hover {
    cursor: pointer;
    input[type=checkbox] + * {
      @include checkbox_hover(
        $size: $size, $thickness: $thickness, $color: $color,
        $border-thickness: $border-thickness, $type: $type);
    }
    input[type=checkbox]:checked {
      @include checkbox(
        $size: $size, $thickness: $thickness, $color: $color,
        $border-thickness: $border-thickness, $type: $type);
    }
  }
}
