// Mixin for a custom style-able radio button

// It requires the radio button to be inside a label tag and have an empty sibling
// Example <label><input type="radio" /><span></span></label>

// Two types of checkboxes:
// 1. Outline - Color of the border and the circle is changed on select
// 2. Fill    - Background color of the radio button is changed, circle is white in color

@import '../../base/normalize';

// Default variables
$default-size: 14px;
$default-thickness: 8px;
$default-color: #666;
$default-border-thickness: 1px;
$default-type: 'outline';
$lighten-percentage: 5%;
$desaturate-percentage: 80%;
$on-hover-opacity: 0.2;
$transition-duration: 0.2s;

@mixin radio_hover(
    $size: $default-size, $thickness: $default-thickness,
    $color: $default-color, $border-thickness: $default-border-thickness,
    $type: 'outline') {
  cursor: pointer;
  border: $border-thickness solid lighten($color, $lighten-percentage);

  @if $type == 'outline' {
    &:after {
      opacity: $on-hover-opacity;
    }
  }

  @if $type == 'fill' {
    background-color: transparentize($color, (1-$on-hover-opacity));
  }
}

@mixin radio(
    $size: $default-size, $thickness: $default-thickness,
    $color: $default-color, $border-thickness: $default-border-thickness,
    $type: 'outline') {
  // Hide the actual checkbox
  display: none;

  & + * {
    // Styling adjacent container as checkbox
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: $size;
    height: $size;
    border: $border-thickness solid desaturate(lighten($color, $lighten-percentage), $desaturate-percentage);
    @include border-radius(50%);
    @include transition(all $transition-duration);

    &:hover {
      // Hover styles
      @include radio_hover($size: $size, $thickness: $thickness, $color: $color, $border-thickness: $border-thickness, $type: $type);
    }

    &:after {
      // This contains the round mark.
      position: absolute;
      box-sizing: border-box;
      width: $thickness;
      height: $thickness;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      opacity: 0;
      background-color: $color;
      @include border-radius(50%);
      @include transition(all $transition-duration);
    }
  }

  &:checked + * {
    // Styling adjacent container when it is checked
    @if $type == 'outline' {
      // Radio button of type outline
      border: $border-thickness solid lighten($color, $lighten-percentage);
    }

    @if $type == 'fill' {
      // Radio button of type filled
      border: $border-thickness solid $color;
      background-color: $color;
      &:after {
        background-color: #FFF;
      }
    }

    &:after {
      // Displaying the checkmark
      opacity: 1;
    }
  }
}
